<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partial/head", { title: "Create Other Category" }) %>
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <style>
      .skill-inputs {
        display: flex;
        flex-direction: column;
      }

      .skill-inputs .skill-item {
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
      }

      .skill-inputs .skill-item .delete-skill {
        margin-left: 0.5rem;
        cursor: pointer;
        color: red;
        font-weight: bold;
        display: none;
        /* Initially hidden */
      }
    </style>
</head>

<body class="bg-gray-100 dark:bg-gray-900 font-sans bg-cover bg-center">
  <!-- Sidebar -->
  <%- include("../partial/sidebar") %>
    <!-- Main Content -->
    <div class="ml-0 md:ml-64 flex flex-col min-h-screen">
      <!-- Header -->
      <%- include("../partial/header") %>
        <!-- Main Content Area -->
        <div class="container mx-auto py-8 mt-5">
          <div class="flex flex-col shadow-md mb-5 bg-white rounded-lg p-5">
            <h1 class="text-4xl font-extrabold mb-4 text-gray-900 dark:text-white">
              Create Other Category
            </h1>
            <nav class="flex mb-4" aria-label="Breadcrumb">
              <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                  <a href="/admin/dashboard"
                    class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                    <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 3.172L17.071 10.243 16.364 10.95 10 4.586 3.636 10.95 2.929 10.243 10 3.172z"></path>
                    </svg>
                    Home
                  </a>
                </li>
                <li aria-current="page">
                  <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 3.172l7.071 7.071-1.414 1.414L10 4.586l-5.657 5.657-1.414-1.414L10 3.172z"></path>
                    </svg>
                    <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Create Other
                      Category</span>
                  </div>
                </li>
              </ol>
            </nav>
          </div>
          <div class="container shadow-lg bg-white rounded-lg mx-auto px-4 sm:px-8">
            <div class="py-8">
              <form action="/admin/other-category" method="POST">
                <div class="mb-4">
                  <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
                  <input type="text" id="title" name="title"
                    class="mt-1 block w-full px-2 py-2 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 border-2 border-gray-300 focus:ring-indigo-500 sm:text-sm" />
                </div>
                <div class="mb-4">
                  <label for="shorting" class="block text-sm font-medium text-gray-700">Shorting</label>
                  <input type="number" id="shorting" name="shorting"
                    class="mt-1 block w-full px-2 py-2 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 border-2 border-gray-300 focus:ring-indigo-500 sm:text-sm" value="50" />
                </div>

                <div class="flex justify-end">
                  <button type="submit"
                    class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    Create
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    <!-- Footer -->
    <%- include("../partial/footer") %>
</body>

</html>