<footer class="bg-gray-800 text-white text-center py-4">
  <div class="flex items-center justify-center space-x-4">
    <div>
      <span class="text-sm">&copy; 2024 Your Company</span>
    </div>
    <div>
      <a href="#" class="text-blue-300 hover:text-blue-500"
        ><i class="fab fa-twitter"></i
      ></a>
    </div>
    <div>
      <a href="#" class="text-blue-300 hover:text-blue-500"
        ><i class="fab fa-facebook"></i
      ></a>
    </div>
    <div>
      <a href="#" class="text-blue-300 hover:text-blue-500"
        ><i class="fab fa-linkedin"></i
      ></a>
    </div>
  </div>
</footer>
