<aside
  class="bg-gray-800 z-10 text-white w-64 space-y-6 py-7 px-2 fixed top-0 left-0 h-full transition-transform duration-300 ease-in-out transform -translate-x-full md:translate-x-0"
  id="sidebar"
>
  <div class="flex items-center justify-between px-4">
    <span class="text-xl font-semibold">Job Portal Admin</span>
    <div class="close-sidebar" id="close-sidebar">
      <i class="fas fa-times"></i>
    </div>
  </div>
  <nav>
    <a
      href="/admin/dashboard"
      class="block py-2 px-4 sidebar-link hover:bg-gray-700"
      id="dashboard-link"
    >
      <i class="fas fa-tachometer-alt mr-2"></i>Dashboard
    </a>
    <a
      href="/admin/employee"
      class="block py-2 px-4 sidebar-link hover:bg-gray-700"
      id="employee-link"
    >
      <i class="fas fa-user-tie mr-2"></i>Employee
    </a>
    <a
      href="/admin/employer"
      class="block py-2 px-4 sidebar-link hover:bg-gray-700"
      id="employer-link"
    >
      <i class="fas fa-building mr-2"></i>Employer
    </a>
    <a
      href="/admin/roles"
      class="block py-2 px-4 sidebar-link hover:bg-gray-700"
      id="roles-link"
    >
      <i class="fas fa-briefcase mr-2"></i>Roles
    </a>
  </nav>
  <!-- Logout button -->
  <div class="flex items-center justify-center">
    <a
      href="/admin/logout"
      class="block py-2 px-4 w-full sidebar-link logout hover:bg-gray-700"
      id="logout-link"
    >
      <i class="fas fa-sign-out-alt mr-2"></i>Logout
    </a>
  </div>
</aside>

<script>
  // Add active class to the current link based on the page URL or other logic
  document.addEventListener("DOMContentLoaded", function () {
    const url = window.location.pathname;
    const links = {
      "/admin/dashboard": document.getElementById("dashboard-link"),
      "/admin/employee": document.getElementById("employee-link"),
      "/admin/employer": document.getElementById("employer-link"),
      "/admin/logout": document.getElementById("logout-link"),
    };

    // Function to remove active class from all links
    function removeAllActive() {
      Object.values(links).forEach((link) => {
        link.classList.remove("bg-gray-700");
      });
    }

    // Add active class to the current link
    if (links[url]) {
      removeAllActive();
      links[url].classList.add("bg-gray-700");
    }
  });
</script>
